* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}

body {
    background-color: #0c0113;
    font-family: 'Bebas Neue', sans-serif;
    color: #FFFFFF;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.bg-body-tertiary{
    background-color: rgb(138, 12, 207) !important;
}

.nav-link{
    color: black !important;
    font-weight: bold;
    margin-left: 15px;
}

.navbar-brand{
    color: white;
}

.header-logo{
    height: 50px;
}

body {
    font-family: Arial, sans-serif;
}

table {
    width: 100%;
    border-collapse: collapse;
}

th, td {
    border: 3px solid  #f2f2f2;
    padding: 15px;
    text-align: center;
    margin: 10px;
    font-size : 18px;
}

th {
    background-color: #f2f2f2;
}

thead tr {
    background-color: #330ce1; 
}

.header-row{
    background-color: #0c00f5 !important;
}

.stats-container {
    display: flex;
    justify-content: center, space-around;
    align-items: center;
    flex-wrap: wrap;
    max-width: 1200px;
    width: 100%;
} 
.stat-card {
    border: 1px solid #ddd;
    border-radius: 10px;
    box-shadow: 0 2px 4px rgba(0,0,0,0.1);
    width: 150px;
    height: 100px;
    margin: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 20px;
}
.stat-card:hover {
    transform: scale(1.05);
}
.stat-title {
    font-size: 14px;
    color: #333;
    margin-bottom: 10px;
}
.stat-number {
    font-size: 32px;
    color: #4b0082; 
    font-weight: bold;
}
.stats-teams-container {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    max-width: 1200px;
    width: 100%;
}

.card-container {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    max-width: 1200px;
    width: 100%;
}
.team-card {
    background-color: #f7f7fd !important;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0,0,0,0.1);
    width: 400px;
    height: 250px;
    margin: 10px;
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    text-align: center;
    position: relative;
    overflow: hidden;
}
.team-card::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(to bottom right, rgba(255,255,255,0.1), rgba(0,0,0,0.1));
    z-index: 1;
    pointer-events: none;
}
.team-card .card-content {
    position: relative;
    z-index: 2;
}
.team-card .team-name {
    font-size: 30px;
    color: #fff;
    margin: 0;
    font-weight: bold;
}
.team-card .team-logo {
    width: 80px;
    height: 80px;
    margin: 20px 0;
}

.btn {
    background: none;
    border: none;
}

.btn:hover {
    background: none !important;
    border: none;
}

.ManchesterUnited{
    background-color: red !important;
}

.NorwichCity{
    background-color: #167000 !important;
}
.AFCBournemouth{
    background-color: #B50E12 !important;
}
.Arsenal{
    background-color: #DB0007 !important;
}
.AstonVilla{
    background-color: #95BFE5 !important;
}
.BirminghamCity{
    background-color: #506ba1 !important;
}
.BlackburnRovers{
    background-color: #009EE0 !important;
}
.Blackpool{
    background-color: #f68e20 !important;
}
.BoltonWanderers{
    background-color: #c1081e !important;
}
.BrightonandHoveAlbion{
    background-color: #0057B8 !important;
}
.Burnley{
    background-color: #6C1D45 !important;
}
.CardiffCity{
    background-color: #0070B5 !important;
}
.CharltonAthletic{
    background-color: #000000 !important;
}
.Chelsea{
    background-color: #034694 !important;
}
.CrystalPalace{
    background-color: #1B458F !important;
}
.DerbyCounty{
    background-color: #000000 !important;
}
.Everton{
    background-color: #003399 !important;
}
.Fulham{
    background-color: #cc0000 !important;
}
.HuddersfieldTown{
    background-color: #0E63AD !important;
}
.HullCity{
    background-color: #F18A01 !important;
}
.LeicesterCity{
    background-color: #fdbe11 !important;
}
.Liverpool{
    background-color: #C8102E !important;
}
.ManchesterCity{
    background-color: #6CABDD !important;
}
.Middlesbrough{
    background-color: #DE1B22 !important;
}
.NewcastleUnited{
    background-color: #241F20 !important;
}
.NorwichCity{
    background-color: #167000 !important;
}
.Portsmouth{
    background-color: #0000ff !important;
}
.QueensParkRangers{
    background-color: #1d5ba4 !important;
}
.Reading{
    background-color: #dd1740 !important;
}
.SheffieldUnited{
    background-color: #eaa51b !important;
}
 .Southampton{
    background-color: #D71920 !important;
}
.StokeCity{
    background-color: #1b449c !important;
}
.Sunderland{
    background-color: #eb172b !important;
}
.SwanseaCity{
    background-color: #585656b7 !important;
}
.TottenhamHotspur{
    background-color: #132257 !important;
}
.Watford{
    background-color: #fbee23 !important;
}
.WestBromwichAlbion{
    background-color: #018b4b !important;
}
.WestHamUnited{
    background-color: #7a263a !important;
}
.WiganAthletic{
    background-color: #9e8b4f !important;
}
.WolverhamptonWanderers{
    background-color: #fdb913 !important;
}

.graph{
    width: 100%;
    height: 700px;
    background-color: black !important;
}

.TShots{
    display: flex !important;
    justify-content: center !important;
}

.stats{
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    max-width: 1200px;
    width: 100%;
}

.stats img{
    width: 200px;
    height: 500px;
}
.stats-container{
    margin-top: 20px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    max-width: 100%;
}

.stats-container img{
    margin: 0;
    border: 0.2rem solid #fff;
    border-radius: 2rem;
    padding: 0.4em;
    box-shadow: 0 0 .2rem #fff,
                0 0 .2rem #fff,
                0 0 2rem #bc13fe,
                0 0 0.8rem #bc13fe,
                0 0 2.8rem #bc13fe,
                inset 0 0 1.3rem #bc13fe; 
    width: 300px;
    height: 480px;
}

.stats-container img:hover {
    transition: 1.5s;
    transform: scale(1.05);
}

.stats-info {
    margin-top: 27px;
    display: flex;
    flex-direction: column;
}

.stats-info h3 {
    margin: 0;
    font-size: 1.2em;
}

.stats-card h2 {
    text-align: center;
    font-weight: 10px;
    margin-bottom: 20px;
}
.statistics {
    text-decoration: none;
    display: block;
    text-align: center;
    padding: 0.5em;
    background-color:rgb(138, 12, 207); 
    color: #fff;
    margin-top: 1em;
    text-transform: uppercase;
    font-weight: bold;
    transition: background-color 0.3s ease;
}

.statistics:hover {
    background-color: #3b033b; 
}

ul {
    list-style: none;
}

footer{
    margin-top: 30px;
    display: flex;
    justify-content: space-between;
    overflow-x: scroll;
}

footer img{
    margin: 40px;
    width: 250px;
    height: 100px;
}

.stat-card .stat-number a{
    text-decoration: none;
    font-size: 32px;
    color: #4b0082; 
    font-weight: bold;
}