{% load i18n %}
<div class="pagination">
    <span class="step-links">
        {% if page.has_previous %}
            <a href="?page={{ page.previous_page_number }}">Previous</a>
        {% endif %}

        {% for i in page.paginator.page_range %}
            {% if i > page.number|add:'-3' and i < page.number|add:'3' %}
                {% if i == page.number %}
                    <span class="current">{{ i }}</span>
                {% else %}
                    <a href="?page={{ i }}">{{ i }}</a>
                {% endif %}
            {% endif %}
        {% endfor %}

        {% if page.has_next %}
            <a href="?page={{ page.next_page_number }}">Next</a>
        {% endif %}
    </span>
</div>
