{% load django_tables2 %}
<div class="table-responsive">
    <table class="{{ table.attrs.class }}">
        <thead>
            <tr>
                {% for column in table.columns %}
                    <th {{ column.attrs.th.as_html }}>
                        <a href="?sort={{ column.name }}">
                            {{ column.header }}
                            {% if column.is_ordered %}
                                {% if column.order == 'asc' %}
                                    ▲
                                {% elif column.order == 'desc' %}
                                    ▼
                                {% endif %}
                            {% endif %}
                        </a>
                    </th>
                {% endfor %}
            </tr>
        </thead>
        <tbody>
            {% for row in table.rows %}
                <tr>
                    {% for column, cell in row.items %}
                        <td {{ column.attrs.td.as_html }}>{{ cell }}</td>
                    {% endfor %}
                </tr>
            {% endfor %}
        </tbody>
    </table>
    {% if table.page %}
        {% include "django_tables2/custom_pagination.html" with page=table.page %}
    {% endif %}
</div>
