* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}

body {
    background-color: #0c0113;
    font-family: 'Bebas Neue', sans-serif;
    color: #FFFFFF;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.bg-body-tertiary{
    background-color: rgb(138, 12, 207) !important;
}

.nav-link{
    color: black !important;
    font-weight: bold;
    margin-left: 15px;
}

.navbar-brand{
    color: white;
}

.header-logo{
    height: 50px;
}

body {
    font-family: Arial, sans-serif;
}

table {
    width: 100%;
    border-collapse: collapse;
}

th, td {
    border: 3px solid  #f2f2f2;
    padding: 15px;
    text-align: center;
    margin: 10px;
    font-size : 18px;
}

th {
    background-color: #f2f2f2;
}

thead tr {
    background-color: #330ce1; 
}

.header-row{
    background-color: #0c00f5 !important;
}

.stats-container {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    max-width: 1200px;
    width: 100%;
} 
.stat-card {
    background-color: rgb(255, 255, 255) !important;
    border: 1px solid #ddd;
    border-radius: 10px;
    box-shadow: 0 2px 4px rgba(0,0,0,0.1);
    width: 150px;
    height: 100px;
    margin: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 20px;
}
.stat-card:hover {
    transform: scale(1.05);
}
.stat-title {
    font-size: 14px;
    color: #333;
    margin-bottom: 10px;
}
.stat-number {
    font-size: 32px;
    color: #4b0082; 
    font-weight: bold;
}
.stats-teams-container {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    max-width: 1200px;
    width: 100%;
}

.card-container {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    max-width: 1200px;
    width: 100%;
}
.team-card {
    background-color: #ee0000 !important;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0,0,0,0.1);
    width: 250px;
    height: 250px;
    margin: 10px;
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    text-align: center;
    position: relative;
    overflow: hidden;
}
.team-card::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(to bottom right, rgba(255,255,255,0.1), rgba(0,0,0,0.1));
    z-index: 1;
    pointer-events: none;
}
.team-card .card-content {
    position: relative;
    z-index: 2;
}
.team-card .team-name {
    font-size: 30px;
    color: #fff;
    margin: 0;
    font-weight: bold;
}
.team-card .stadium-name {
    font-size: 20px;
    color: #eee;
    margin: 0;
}
.team-card .team-logo {
    width: 80px;
    height: 80px;
    margin: 20px 0;
}

.btn {
    background: none;
    border: none;
}

.btn:hover {
    background: none !important;
    border: none;
}