{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>TP PREMIER LEAGUE</title>
    <link href="static/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
    <link rel="stylesheet" href="static/style.css">

</head>

<body>
    <header>
        <nav class="navbar navbar-expand-lg bg-body-tertiary">
             <div class="container-fluid">
                <a href="index()" class="logoContainer">
                    <img class="header-logo" src="https://cdn.freebiesupply.com/images/large/2x/premier-league-logo-black-and-white.png" alt="Premier League Logo" />  
                </a>               
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                        <li class="nav-item">
                            <a class="nav-link active" aria-current="page" href="index()">HOME</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="graph()">TEAMS</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="">SEASONS</a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
    </head>
    <title>TEAM TABLE</title>
    <body>
        <b>Search the table:
            <input id="entireSearch" type="text" placeholder="Search here">
        </b>
        <b>Search specific column:
            <select id="columnSelect">
                <option value="all">All Columns</option>
                <option value="TEAM">TEAM</option>
                <option value="WINS">WINS</option>
                <option value="LOSSES">LOSSES</option>
                <option value="GOALS">GOALS</option>
                <option value="SEASON">SEASON</option>
            </select>
            <input id="columnSearch" type="text" placeholder="Search here">
        </input>
        </b>

        <table>
            <thead>
                <tr>
                    <th class="header-row" >TEAM</th>
                    <th class="header-row" >WINS</th>
                    <th class="header-row">LOSSES</th>
                    <th class="header-row">GOALS</th>
                    <th class="header-row">SEASON</th>
                </tr>
            </thead>
            <tbody id="geeks">
                {% for team in teamName %}
                <tr>
                    <td>{{ team.name }}</td>
                    <td>{{ team.wins }}</td>
                    <td>{{ team.losses }}</td>
                    <td>{{ team.goals }}</td>
                    <td>{{ team.season }}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
        <script src="static/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>
        <script>
            $(document).ready(function () {
                $("#entireSearch, #columnSearch").on("keyup", function () {
                    let entireValue = $("#entireSearch").val().toLowerCase();
                    let columnValue = $("#columnSearch").val().toLowerCase();
                    let selectedColumn = $("#columnSelect").val();
    
                    $("#geeks tr").each(function () {
                        let rowText = $(this).text().toLowerCase();
                        // Show all rows if entire search is empty
                        let matchEntire = entireValue === ""; 
    
                        if (entireValue !== "") {
                            matchEntire = rowText.indexOf(entireValue) > -1;
                        }
                        // Assuming all rows initially match column search
                        let matchColumn = true; 
                        if (selectedColumn !== "all" && columnValue !== "") {
                            let columnData = $(this).find("td:nth-child(" + 
                            (selectedColumn === "TEAM" ? 1 : 
                             (selectedColumn === "SEASON" ? 5 : 6)) +
                             ")").text().toLowerCase();
                            matchColumn = columnData.indexOf(columnValue) > -1;
                        }
    
                        $(this).toggle(matchEntire && matchColumn);
                    });
                });
            });
        </script>
    </header>

</body>
</html>