{% load django_tables2 %}
{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Team List</title>
    <link href="{% static 'django_tables2/themes/paleblue/css/screen.css' %}" rel="stylesheet">
    <link href="{% static 'staticTest/css/team_list.css' %}" rel="stylesheet">
</head>
<body>
    <div class="sidebar" id="mySidebar">
        <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">×</a>
        <form method="get" class="filter-form">
            {{ filter.form.as_p }}
            <button type="submit">Search</button>
            <button type="button" class="clear-btn" onclick="clearFilters()">Clear All</button>
        </form>
    </div>
    <button class="openbtn" onclick="openNav()">☰ Open Filters</button>
    <div class="table-responsive">
        <h1>Team List</h1>
        {% render_table table %}
    </div>
    <script>
        function openNav() {
            document.getElementById("mySidebar").style.width = "250px";
        }

        function closeNav() {
            document.getElementById("mySidebar").style.width = "0";
        }
        function clearFilters() {
            window.location.href = "{% url 'team_list' %}";
        }
    </script>
</body>
</html>
