{% load static %}

<DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="static/bootstrap.min.css" rel="stylesheet %}" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
    <link rel="stylesheet" href="static/style.css">
    <title> Teams Cards </title>
</head>

<body>
    {% for teams in team %}
    <button class="btn btn-primary" type="button" data-bs-toggle="collapse" data-bs-target="Mancity" aria-expanded="false" aria-controls="Mancity">
        <div class="team-card man-city">
            <div class="card-content">
                <div class="team-name">{{teams.name}}</div>
                <p>{{img_link}}</p>
                {% comment %} <img src="{{ img_link }}" alt="{{teams.name}}" class="team-logo"> {% endcomment %}
            </div>
        </div>
    </button>
    <div class="collapse" id="Mancity">
      <div class="card card-body">
        <div class="stats-container">
            <div class="stat-card">
                <div class="stat-title">Matches played</div>
                <div class="stat-number">143</div>
            </div>
            <div class="stat-card">
                <div class="stat-title">Wins</div>
                <div class="stat-number">90</div>
            </div>
            <div class="stat-card">
                <div class="stat-title">Losses</div>
                <div class="stat-number">30</div>
            </div>
            <div class="stat-card">
                <div class="stat-title">Goals</div>
                <div class="stat-number">100</div>
            </div>
            <div class="stat-card">
                <div class="stat-title">Goals Conceded</div>
                <div class="stat-number">40</div>
            </div>
            <div class="stat-card">
                <div class="stat-title">Clean sheets</div>
                <div class="stat-number">0</div>
            </div>
      </div>
    </div>
  </div>
  {% endfor %}
    <script src="static/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>
</body>
</html>
